body {
    background-color: rgba(0,0,0,0);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'Limerick-Serial';
    src: url("../font/Limerick-Serial-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../font/OpenSans-Bold.ttf");
    font-style: normal;
}

.left {
    height: 10vh;
    width: 15vw;
    left: 0vw;
    top: 0vh;
    position: absolute;
}

.right {
    height: 10vh;
    width: 15vw;
    right: -.03vw;
    top: 0vh;
    position: absolute;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#left_frgd, #right_frgd {
    background-image: url("../img/score_new.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.927083333333330vw;
    height: 3.888888888888890vh;
    top: 0vh;
    z-index: -1;
    position: absolute;
    opacity: 0;
}

#left_frgd {
    left: 0vw;
    margin: 0 auto 0 0;
}

#right_frgd{
    right: 0vw;
    margin: 0 0 0 auto;
}

#left_bkgd {
    background-image: url("../img/left_90.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 9.53125vw;
    height: 3.6111111111111vh;
    top: 0.2vh;
    left: 1vw;
    z-index: -2;
    margin: 0 auto 0 0;
    position: absolute;
    opacity: 0;
}

#right_bkgd {
    background-image: url("../img/right_90.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 9.53125vw;
    height: 3.6111111111111vh;
    top: 0.2vh;
    right: 1vw;
    z-index: -2;
    margin: 0 0 0 auto;
    position: absolute;
    opacity: 0;
}

#left_score, #right_score {
    font-family: 'Open Sans';
    font-size: 2.8vh;
    text-align: center;
    top: 0vh;
    width: 1.8vw;
    height: 3.8vh;
    color: #292929;
    position: absolute;
    opacity: 0;
}

#left_score {
    left: 0.05vw;
}

#right_score {
    right: 0.06vw;
}

#left_name, #right_name {
    font-family: 'Limerick-Serial';
    font-size: 1.6vh;
    top: 1vh;
    width: 9.2vw;
    height: 2.8vh;
    color: #ded5d5;
    position: absolute;
    opacity: 0;
}

#left_name {
    left: 2.1vw;
    text-align: left;
}

#right_name {
    right: 2.1vw;
    text-align: right;
}